<Configuration status = "warn">
	<Appenders>
		<Console name = "Console" target = "SYSTEM_OUT">
			<PatternLayout pattern = "%message %ex{short.message} %n" />
		</Console>
		<File name = "logFile" fileName = "debug.log" append = "false">
			<PatternLayout pattern = "[00%sn %level{lowerCase=true}] %class.%method %t: %m %ex{3}%n" />
		</File>
		
	
	</Appenders>
	<Loggers>
	<Logger name = "LoggerSetup" level = "ALL" additivity = "false">
		<AppenderRef ref = "Console" level = "WARN" />
		<AppenderRef ref = "logFile" level = "ALL" />
	</Logger>
		<Root level = "ALL">
			<AppenderRef ref = "Console" level = "INFO"/>
		</Root>
	
	
	
	</Loggers>
</Configuration>